

.purchase-button{
    
    background-color: #725229;
    width: 140px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
}
.icon-color{
   color: goldenrod; 
}
.course-part{
    
    float: left;
    width: 33%;
}

.course-part:hover{
   background-color: gray;
}
