.menu-link{
    text-decoration: none;
    background-color:#725229;
    
  }
  .logo-sp{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
  }
  .link-sp{
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.20);
    padding: 30px;
    margin-right: 20px;
   
    
  }
 
  .link-sp:hover {
    background: rgb(31, 18, 1);
    }
    
    .nav-dropdown{
    padding: 20px;
   
  }
  .nav-dropdown:hover {
    background: rgb(31, 18, 1);
    }