.c img{
    width: 100%;
}
.banner{
    border: 2px solid brown;
   
}

.bt-background{
    background: #725229 !important;
    color :white;
}

.homepage-bgimage {
    background: url("./../../image/banner.png");
    height: 60vh;
    background-position: center;
   
    background-size: cover;
  }

.carouselsize {
    height: 10%;
}


